body {
  background-color: #707079; }

#formContacto {
  border: double #59cbe8 2px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 52, 48, 0.3); }
  #formContacto #h2form {
    background-color: #59cbe8;
    color: #292935;
    text-align: center;
    padding: 5px 15px;
    border-radius: 1em;
    margin-top: 15px; }
  #formContacto #idform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px; }
    #formContacto #idform p {
      color: #59cbe8; }

#divpresentacion {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  #divpresentacion p {
    font-size: 1.3em;
    text-align: center;
    max-width: 80%;
    text-align: center; }

.bg-black {
  background-color: #292935; }

.margintop30 {
  margin-top: 30px; }

* {
  margin: 0;
  padding: 0; }

.social_icons {
  width: 100%;
  padding-bottom: 35px;
  padding-top: 20px;
  margin-bottom: -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #292935; }
  .social_icons li {
    list-style: none; }
    .social_icons li:hover .fa {
      color: #fff; }
    .social_icons li:hover:nth-child(1) a {
      background-color: #3b5999; }
      .social_icons li:hover:nth-child(1) a::before {
        background-color: #2f477a; }
      .social_icons li:hover:nth-child(1) a::after {
        background-color: #4e69a3; }
    .social_icons li:hover:nth-child(2) a {
      background-color: #D43089; }
      .social_icons li:hover:nth-child(2) a::before {
        background-color: #c4297e; }
      .social_icons li:hover:nth-child(2) a::after {
        background-color: #ec3c9d; }
    .social_icons li:hover:nth-child(3) a {
      background-color: #55acee; }
      .social_icons li:hover:nth-child(3) a::before {
        background-color: #43a3ec; }
      .social_icons li:hover:nth-child(3) a::after {
        background-color: #6ab6f0; }
    .social_icons li:hover:nth-child(5) a {
      background-color: #FF0000; }
      .social_icons li:hover:nth-child(5) a::before {
        background-color: #d40101; }
      .social_icons li:hover:nth-child(5) a::after {
        background-color: #fd2626; }
    .social_icons li:hover:nth-child(6) a {
      background-color: #007bb5; }
      .social_icons li:hover:nth-child(6) a::before {
        background-color: #036ea0; }
      .social_icons li:hover:nth-child(6) a::after {
        background-color: #0395d8; }
    .social_icons li:hover:nth-child(4) a {
      background-color: #97a1a7; }
      .social_icons li:hover:nth-child(4) a::before {
        background-color: #717374; }
      .social_icons li:hover:nth-child(4) a::after {
        background-color: #a2a7aa; }
    .social_icons li a {
      position: relative;
      width: 80px;
      height: 80px;
      background: #fff;
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      transition: .5s;
      box-shadow: -20px 20px 10px black;
      transform: perspective(1000px) rotate(-20deg) skew(25deg) translate(0, 0); }
      .social_icons li a img {
        max-width: 70%; }
      .social_icons li a i {
        display: flex;
        justify-content: center; }
      .social_icons li a:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -20px;
        height: 100%;
        width: 18px;
        background: #b2b2b2;
        transition: 0.5s;
        transform: rotate(0deg) skewy(-50deg) translatey(13px) translatex(2px); }
      .social_icons li a:after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -9px;
        height: 20px;
        width: 100%;
        background: #e5e5e5;
        transition: .5s;
        transform: skewX(-40deg); }
      .social_icons li a:hover {
        transform: perspective(1000px) rotate(-20deg) skew(25deg) translate(20px, -20px);
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 768px) {
  .social_icons li {
    transform: scale(0.7);
    padding: 15px; }
    .social_icons li:nth-child(1) a {
      background-color: #6381c0; }
      .social_icons li:nth-child(1) a::before {
        background-color: #607ebe; }
      .social_icons li:nth-child(1) a::after {
        background-color: #6d84b6; }
    .social_icons li:nth-child(2) a {
      background-color: #e47cb5; }
      .social_icons li:nth-child(2) a::before {
        background-color: #ec6ab2; }
      .social_icons li:nth-child(2) a::after {
        background-color: #f18ec4; }
    .social_icons li:nth-child(3) a {
      background-color: #55acee; }
      .social_icons li:nth-child(3) a::before {
        background-color: #43a3ec; }
      .social_icons li:nth-child(3) a::after {
        background-color: #6ab6f0; }
    .social_icons li:nth-child(5) a {
      background-color: #eb7474; }
      .social_icons li:nth-child(5) a::before {
        background-color: #d86b6b; }
      .social_icons li:nth-child(5) a::after {
        background-color: #ee8989; }
    .social_icons li:nth-child(6) a {
      background-color: #0596da; }
      .social_icons li:nth-child(6) a::before {
        background-color: #058ac7; }
      .social_icons li:nth-child(6) a::after {
        background-color: #18abf0; }
    .social_icons li:nth-child(4) a {
      background-color: #97a1a7; }
      .social_icons li:nth-child(4) a::before {
        background-color: #717374; }
      .social_icons li:nth-child(4) a::after {
        background-color: #a2a7aa; } }

.navbar-brand img {
  max-width: 30vw; }
  .navbar-brand img:active {
    transform: scale(0.95); }

.bg-main {
  background-color: #292935; }

.viewscolor {
  color: #59cbe8; }
  .viewscolor:hover {
    transform: scale(1.15);
    transition: transform 0.7s;
    color: #59cbe8; }

ul li {
  padding: 0 15px; }
  ul li a {
    color: #59cbe8;
    font-size: 1.2em; }

.navbar-toggler {
  border-color: #59cbe8; }

.navbar-toggler-icon {
  color: #59cbe8; }

@media only screen and (min-width: 1024px) {
  .carousel-item {
    max-height: 600px; } }

.card {
  background-color: #6fd9f3;
  max-width: 800px;
  box-shadow: 0px 0px 26px 2px rgba(0, 0, 0, 0.79); }
  .card:hover {
    transform: scale(1.03);
    transition: transform 0.5s; }

.conteinercards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 768px) {
  .card {
    max-width: 500px; } }

.cardportfolio {
  margin: 50px;
  margin: 0 auto;
  text-align: center;
  max-width: 900px; }

#conteinerCardsPortfolio {
  margin-top: 25px;
  width: 100vw; }
  #conteinerCardsPortfolio .tituloCardsPorfolio {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #292935;
    text-shadow: 3px 3px 13px #6fd9f3; }

@media only screen and (max-width: 1024px) {
  .cardportfolio {
    max-width: 740px; } }

@media only screen and (max-width: 768px) {
  .cardportfolio {
    max-width: 450px; } }

@media only screen and (max-width: 480px) {
  .cardportfolio {
    max-width: 300px; } }

.divperfil {
  max-height: 200px;
  margin: 20px 0; }
  .divperfil img {
    max-height: 200px;
    border-radius: 30em;
    box-shadow: 0px 0px 44px 1px #000000; }

.namePerfil {
  font-size: 2.5em;
  text-align: center;
  color: #6fd9f3;
  text-shadow: 5px 5px 7px #292935; }

#divcv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }
  #divcv h2 {
    font-size: 2em;
    text-align: center;
    text-decoration: overline;
    margin-top: 30px; }
  #divcv p {
    max-width: 80%;
    text-align: center; }

.divh1productos {
  text-align: center;
  margin: 15px 20px; }
  .divh1productos .h1productos {
    margin-top: 15px;
    color: #6fd9f3; }

.cardFlexProducto {
  display: flex;
  flex-wrap: nowrap; }

.cardProducto {
  max-width: 300px; }

@media only screen and (min-width: 480px) {
  .cardProducto {
    max-width: 400px; } }

@media only screen and (min-width: 768px) {
  .cardProducto {
    max-width: 700px; } }

@media only screen and (min-width: 1024px) {
  .cardProducto {
    max-width: 900px; } }

#bannerFinal {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; }
  #bannerFinal #divImgBannerFinal {
    position: relative;
    width: 100%; }
    #bannerFinal #divImgBannerFinal img {
      max-width: 100%; }
  #bannerFinal #divTextBannerFinal {
    position: absolute;
    width: max-content;
    padding: 5px 20px;
    border-radius: 1em;
    text-align: center;
    background-color: rgba(37, 150, 190, 0.6); }
    #bannerFinal #divTextBannerFinal a {
      text-decoration: none; }
      #bannerFinal #divTextBannerFinal a p {
        font-size: 2em;
        color: white; }
        #bannerFinal #divTextBannerFinal a p:active {
          transform: scale(0.95); }

@media only screen and (min-width: 1024px) {
  #divImgBannerFinal img {
    max-height: 400px;
    width: 100%; } }

.footer {
  background-color: #292935;
  display: flex;
  justify-content: center; }
  .footer img {
    margin-top: 15px;
    margin-bottom: 15px; }
    .footer img:active {
      transform: scale(0.95); }

@media only screen and (max-width: 768px) {
  .footer img {
    max-width: 400px; } }

@media only screen and (max-width: 480px) {
  .footer img {
    max-width: 300px; } }
