

#bannerFinal {
    margin-top: 25px;
    @include flex(row,center,center);
    position: relative;
    width: 100%; 
    #divImgBannerFinal {
        position: relative;
        width: 100%;
        img {
            max-width: 100%; 
            @media only screen and (min-width:1024px){
                max-height: 400px;
                width: 100%;
            }   
        }
    }
    #divTextBannerFinal {
        position: absolute;
        width: max-content;
        max-width: 80vw;
        padding: 5px 20px;
        border-radius: 1em ;
        text-align: center;
        background-color: $maintransparent; 
        a {
            text-decoration: none;
            p{
            @include text(1em,1,$white);
            &:active{
                transform: scale(.95);
            }
            @media only screen and (min-width:480px){
                font-size: 2em;
            }
        }
        
        }
    }
}
