body{
    background-color: $bgsecundary
}

#formContacto {
    border: double $maincolor 2px;
    width: 60vw;
    @include flex(column, center,center);
    background-color: $maintransparent; 
    #h2form {
        background-color: $maincolor;
        color: $bgcolor;
        text-align: center;
        padding: 5px 15px;
        border-radius: 1em;
        margin-top: 15px; 
    }
    #idform {
        @include flex(column,center,center);
        margin-bottom: 15px; 
        input,label,textarea,select {
            width: 80%;
            @media only screen and (min-width:768px){
                width: 300px;
            }
        }
        p{
            color: $maincolor;
        }
    }
}

#divpresentacion{
    margin-top: 30px;
    width: 100%;
    @include flex(column,center,center);
    color: $white;
    p  {
        font-size: 1.3em;
        text-align: center;
        max-width: 80%;
        text-align: center;
    }
}

.bg-black{
    background-color:$bgcolor ;
}
.margintop30{
    margin-top: 30px;
}