.footer{
    background-color: #292935;
    display: flex;
    justify-content: center;
    img {
        margin-top: 15px;
        margin-bottom: 15px;
        &:active {
            transform: scale(.95);
            
        }
        @media only screen and (max-width:480px){
            max-width: 80vw;
        }
        @media only screen and (max-width:768px){
            max-width: 400px;
        }
    }
}