.navbar-brand img{
    max-width: 30vw;
}
.bg-main{
    background-color: #292935;
}
.viewscolor {
    color: #59cbe8;
}
ul li a{
    color: #59cbe8;
}

.navbar-toggler {
    border-color: #59cbe8;
}
.navbar-toggler-icon{
    color: #59cbe8;
}
