<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - ilerena</title>
    <link rel="shortcut icon" href="../img/icon.png">
    <meta name="description" content="Contactate con Juan Ignacio Lerena para obtener tu sitio web personalizado">
    <meta name="author" content="Juan Ignacio Lerena">
    <meta name="keywords" content="sitios web, trabajos, front end, html, sass, css, javascript">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-black">
    <nav>
        <nav class="navbar navbar-expand-lg bg-main">
            <div class="container-fluid me-1">
                <a class="navbar-brand" href="../index.html"><img src="../img/logoilerena.png" alt=""></a>
                <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="../views/portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="../views/sobremi.html">Sobre Mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="../views/contacto.html">Contacto</a>
                    </li>

                    </ul>
                </div>
                </div>
            </nav>
    </nav>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/carrusel/carrusel1.png" class="d-block w-100" alt="front end developer, sitios webs personalizados, escritorio, computadora, notebook, plantas">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel2.png" class="d-block w-100" alt="front end developer, sitios webs personalizados, dos mujeres frente a notebook">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel3.png" class="d-block w-100" alt="front end developer, sitios webs personalizados, persona señalando computadora">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel4.png" class="d-block w-100" alt="front end developer, sitios webs personalizados, hombre frente a computadora escritorio">
            </div>
        </div>
    </div>
    <div id="divpresentacion">
        <p>A continuación, encontrarás las diferentes medios por los cual puedes contactarme.</p>
        <p>En el caso de que prefieras que yo me ponga en contacto contigo, dejame tus datos, indicando la vía de tu preferencia.</p>
        <p>¡Muchas Gracias!</p>
    </div>
    <div>
        <div class="conteiner">
            <ul class="social_icons">
                    <li class="li1 colorfacebook"><a href="https://www.facebook.com/ilerena" target="_blank"><i class="fa" aria-hidden="true"><img src="../img/social/facebook.png" alt="logo facebook"></i></a></li>   
                    <li class="li2 colorinstagram"><a href="https://www.instagram.com/ignaciolerena" target="_blank"><i class="fa" aria-hidden="true"><img src="../img/social/instagram.png" alt="logo instagram"></i></a></li>
                    <li class="li3 colorlinkedin"><a href="https://www.linkedin.com/in/juanignaciolerena/" target="_blank"><i class="fa" aria-hidden="true"><img src="../img/social/linkedin.png" alt="logo linkedin"></i></a></li>
                    <li class="li4 colorgithub"><a href="https://github.com/ilerena" target="_blank"><i class="fa" aria-hidden="true"><img src="../img/social/github.png" alt="logo github"></i></a></li>
                    <li class="li5 coloremail"><a href="mailto:ignaciolerena@hotmail.com?subject=Hola!&body=Buenas Tardes, me comunico de..." target="_blank"><i class="fa" aria-hidden="true"><img src="../img/social/email.png" alt="logo email"></i></a></li>
                    <li class="li6 colortwitter"><a href="https://mobile.twitter.com/ilerena" target="_black"><i class="fa" aria-hidden="true"><img src="../img/social/twitter.png" alt="logo twitter"></i></a></li>
            </ul> 
        </div>
    </div>
    <div id="formContacto" class="d-flex justify-content-center mx-auto row margintop30">
        <h2 id="h2form" class="col-md-6 col-lg-4">Formulario de contacto</h2>
        <form action="info.php" class="col-md-6 col-lg-4">
            <fieldset id="idform"  >
                <input type="text" id="name" placeholder="Nombre y Apellido"><br>
                <input type="text" id="instagram" placeholder="Perfil De Instagram"><br>
                <input type="text" id="telefono" placeholder="Número de Telefono"><br>
                <input type="email" id="email" placeholder="miemail@hotmail.com"><br>
                <label for="comunicacion"><p>Quiero que se me contacte vía:</p> </label>
                <select name="medio" id="">
                    <option value="Llamada">Llamada por telefono</option>
                    <option value="email">Correo Electronico</option>
                    <option value="instagram">Instagram</option>
                </select><br>
                <label for="mensaje"><p>¿Cual es su consulta?</p></label><br> 
                <textarea name="" id="mensaje" cols="30" rows="10"></textarea> <br>
                <input type="reset" value="Cancelar">
                <input type="Submit" value="Enviar Consulta">
            </fieldset>		
        </form>
    </div>

    <section id="bannerFinal" >
        <div id="divImgBannerFinal">
            <img class="imgBanner" src="../img/banner/banner.png" alt="agenda y lapiz sobre escritorio de madera">
        </div>
        <div id="divTextBannerFinal" class="transparencia">
            <a  href="../views/productos.html" ><p>¡Quiero mi sitio Web!</p></a>
        </div>
    </section>
    
    <footer>
        <div class="footer">
            <a href="../index.html"><img src="../img/logoilerena.png" alt="logo ilerena"></a>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</html>