<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - ilerena</title>
    <meta name="description" content="Trabajos anteriores de Juan Ignacio Lerena, Front End Dev">
    <meta name="author" content="Juan Ignacio Lerena">
    <meta name="keywords" content="sitios web, trabajos, front end, html, sass, css, javascript">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-md bg-main">
            <div class="container-fluid me-1">
                <a class="navbar-brand" href="../index.html"><img src="../img/logoilerena.png" alt=""></a>
                <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="../views/portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link viewscolor" href="../views/sobremi.html">Sobre Mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  viewscolor" href="../views/contacto.html">Contacto</a>
                    </li>

                    </ul>
                </div>
                </div>
            </nav>
    </nav>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/carrusel/carrusel1.png" class="d-block w-100" alt="front end developer, sitios webs personalizados">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel2.png" class="d-block w-100" alt="front end developer, sitios webs personalizados">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel3.png" class="d-block w-100" alt="front end developer, sitios webs personalizados">
            </div>
            <div class="carousel-item">
                <img src="../img/carrusel/carrusel4.png" class="d-block w-100" alt="front end developer, sitios webs personalizados">
            </div>
        </div>
    </div>
<div id="conteinerCardsPortfolio">
    <div class="tituloCardsPorfolio">
        <p>MIS TRABAJOS</p>
    </div>
    <div class="card mb-3 cardportfolio">
        <a href="https://www.instagram.com/frutellaboutique" target="_blank"><img src="../img/portfolio/verduleria.png" class="card-img-top" alt="sitio web de frutella boutique verduleria local "></a>
        <div class="card-body">
            <h5 class="card-title">Verdulería - Frutella Boutique</h5>
            <p class="card-text">Para este negocio local, se realizo un sitio web con variada información para que el cliente conozco tanto los productos, las formas de hacer pedidos y como contactarlos.</p>
            <p class="card-text"><small class="text-muted">Hace 3 meses</small></p>
        </div>
    </div>
    <div class="card mb-3 cardportfolio">
        <img src="../img/portfolio/estetica.png" class="card-img-top" alt="sitio web de medicina estetica dra degregorio">
        <div class="card-body">
            <h5 class="card-title">Centro de Estética - Dra. Degregorio</h5>
            <p class="card-text">Centro de Estética Dra. Degregoio es una empresa que, al ya contar con su sistema interno para la organizacion de turnos y demás, solicitaron una web informativa para que los clientes puedan conocer los tratamientos que se ofrecen y sus respectivos precios; los profesionales a cargo, y la manera de contactarlos para solicitar su turno.</p>
            <p class="card-text"><small class="text-muted">En proceso</small></p>
        </div>
    </div>
    <div class="card mb-3 cardportfolio">
        <img src="../img/portfolio/dbp.png" class="card-img-top" alt="sitio web de distribuidora mayorista delivery de bebidas parana">
        <div class="card-body">
            <h5 class="card-title">Distribuidora - DBP Delivery de Bebidas Paraná</h5>
            <p class="card-text">A solicitud del cliente, se confeccionará un sitio web con variadas secciones para que el usuario pueda hacer tanto compras minoristas como mayoristas, ademas conocer la localizacion y formas de contacto.</p>
            <p class="card-text"><small class="text-muted">Proximamente</small></p>
        </div>
    </div>
</div>
    <section id="bannerFinal" >
        <div id="divImgBannerFinal">
            <img class="imgBanner" src="../img/banner/banner.png" alt="canasta de frutas y verduras">
        </div>
        <div id="divTextBannerFinal" class="transparencia">
            <a  href="../views/productos.html" ><p>¡Quiero mi sitio Web!</p></a>
        </div>
    </section>
    <footer>
        <div class="footer">
            <a href="index.html"><img src="../img/logoilerena.png" alt="logo ilerena"></a>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</html>